[Unit]
Description=Multicraft Daemon
Wants=network-online.target
After=network.target remote-fs.target nss-lookup.target network-online.target mysql.service

[Service]
Type=forking
PIDFile=/home/minecraft/multicraft/multicraft.pid
ExecStart=/home/minecraft/multicraft/bin/multicraft -v start
ExecReload=/home/minecraft/multicraft/bin/multicraft -v restart
ExecStop=/home/minecraft/multicraft/bin/multicraft -v stop

[Install]
WantedBy=multi-user.target
